.empty-cart{
    text-align: center;
}
.empty-cart img{
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}
.empty-cart .btn{
    background-color: #27ae61;
    color: white;
}
.cart-books img{
    max-width: 150;
}

.price {
    margin-top: -20px;
}

.btn-remove {
    margin-top: -35px
}

.buy {
    float: right;
    color: white;
    font-weight: 500;
    background-color: #27ae61;
    margin-top: 20px
}

.buy:hover {
    color: #27ae61;
    background-color: #ffffff;
}