header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}
header select{
    width: 110px !important;
    border-radius: 0 !important;
    text-align: center;
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
}
header select:focus , header button:focus{
    border-color: #27ae6181 !important;
    box-shadow: none !important;
}
header button{
    width: 110px;
    border-radius: 0 !important;
    border: 1px solid #ced4da !important;
    border-left: 0 !important ;
    border-bottom-right-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}
header svg {
    margin: 0 5px 3px 5px;
    padding: 1px 0;
}
header span{
    position: relative;
    background: #ed6663 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    width: 20px;
    top: -1px;
}
@media (max-width:425px) {
    header{
        flex-direction: column;
        text-align: center;
    }
    header .options{
        justify-content: center;
    }
}



